<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>Home</title>
</head>

<body>
  <div class="main-content">


    <%- include('header') -%>

    <h1>welcome to CRUD webpage</h1>
    <p>here you can create, update, and delete snippets also you can review others snippets. <br>
      to start creating snippets you need to create an account or login. <br>
      have fun browsing.
    </p>
  </div>
<footer>
  <p>&copy; 2024 Ghiath</p>

</footer>
</body>

</html>