* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

}

header {
  background-color: #343a40;
  color: #fff;
  padding: 20px;
  text-align: center;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline;
  margin-right: 20px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}


button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}


form {
  margin-bottom: 20px;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}


.snippet {
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

  .snippet p {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
  }

.snippet h3 {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;}

.snippet pre {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.edit-form {
  background-color: #f8f9fa;
  padding: 20px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.edit-form input[type="text"],
.edit-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
}

.edit-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-form button:hover {
  background-color: #0056b3;
}

.edit-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  float: right;
  margin-left: 10px;
}

.edit-button:hover {
  background-color: #218838;
}

.welcome {
  float: left;
}

.main-content {
  flex: 1;
}


footer {
  background-color: #343a40;
  color: #fff;
  padding: 20px;
  text-align: center;
}




footer p {
  margin: 0;

}